HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/test
target/classes
target/generated-test-sources
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
target/env-sql.jar.original
.mvn/
mvn*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/
